<div class="wrapper">
  <div
    class="sidebar"
    data-color="danger"
    data-background-color="white"
    data-image="./assets/img/sidebar-1.jpg"
  >
    <app-sidebar></app-sidebar>
    <div
      class="sidebar-background"
      style="background-image: url(./assets/img/sidebar-4.jpg)"
    ></div>
  </div>
  <div class="main-panel">
    <div class="mt-5">
      <div class="card card-header-danger">
        <div class="card-header card-header-danger">
          <h2 class="card-title text-center">
            Interface de consultation des critères et heuristiques d'évalation
          </h2>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
